@model Proyecto.Models.Department

@{
    ViewData["Title"] = "Editar departamento";
}

<div class="container py-5" style="max-width:800px;">

    <div class="mb-4">

        <h1 class="display-6 fw-bold text-primary">
            Editar departamento
        </h1>

        <p class="text-muted fs-5">
            Modifique la información del departamento seleccionado.
        </p>

    </div>

    <form asp-controller="Department"
          asp-action="Edit"
          method="post">

        <partial name="_DepartmentForm"
                 model="Model" />

    </form>

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}